<style>
    body{margin: 0;}
    .comiis_portal_block a{float:left;background:#f3f3f3;width:210px;height:auto;line-height:20px;text-align:center;padding:6px;margin:0 12px 12px 0;overflow:hidden;text-decoration:none;color:#2366a8;font-weight:700}    .comiis_portal_block a:hover {background:#a6c9d7;color:#fff;}
    .comiis_portal_block .kmimg {width:210px;height:130px;margin-bottom:4px;overflow:hidden;}
    .comiis_portal_block .kmimg img {display:block;width:100%;height:100%;object-fit:scale-down;overflow:hidden;}
</style>
<div class="cmain cl">
    <div class="comiis_portal_block">
        <a href="javascript:;">
            <div class="kmimg"><img src="./img/4.jpg"></div>
            <span class="bold">圆头像（明星）</span>
        </a>
        <a href="javascript:;">
            <div class="kmimg"><img src="./img/5.jpg"></div>
            <span class="bold">滚动头像（明星）</span>
        </a>
        <a href="javascript:;">
            <div class="kmimg"><img src="./img/6.jpg"></div>
            <span class="bold">专题风格二（专题）</span>
        </a>
    </div>
</div>