{include file="../../../application/admin/view/public/head" /}
<div class="page-container p10">
    <div class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label class="layui-form-label">Page From</label>
            <div class="layui-input-inline">
                <input type="number" name="pageFrom" id="pageFrom" class="layui-input"
                lay-verify="required" lay-reqtext="Page From Không được bỏ trống">
                <tip>Page From phải lớn hơn Page To</tip>
            </div>
            <label class="layui-form-label">Page To</label>
            <div class="layui-input-inline">
                <input type="number" name="pageTo" id="pageTo" class="layui-input"
                lay-verify="required" lay-reqtext="Page To Không được bỏ trống">
            </div>
            <div class="layui-input-inline">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="crawlBtn" id="crawlBtn">GET INFO</button>
            </div>
        </div>
    </div>
    <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
    <script type="text/html" id="crawlProgress">
        <div id="{{=d.id}}">
            <i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i>&nbsp;Loading...
        </div>
    </script>
</div>
{include file="../../../application/admin/view/public/foot" /}

<script>
    layui.use(['form', 'table','element'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var layer = layui.layer;
        var table = layui.table;
        var pagesList = [];
        var tmpPagesList = [];
        form.render();
        form.on('submit(crawlBtn)', function(data) {
            let pageFrom = $('#pageFrom').val();
            let pageTo = $('#pageTo').val();
            for (let i = parseInt(pageFrom); i >= pageTo; i--) {
                pagesList.push(i);
            }
            crawl_pages(pagesList);
        });
        const crawl_pages = (pagesList) => {
            if (pagesList.length == 0) {
                layer.msg('Hoàn thành thu thập', {icon:6, time:2000});
                $('#crawlBtn').removeClass('layui-btn-disabled');
                return;
            }
            let currPage = pagesList.shift();
            tmpPagesList = pagesList;
            $.ajax({
                type: "GET",
                url: "{:url('javfilms_get_pages')}",
                data: {"page": currPage},
                dataType: "json",
                beforeSend: function () {
                    $('#crawlBtn').addClass('layui-btn-disabled');
                },
                success: function (response) {
                    if (response.code == 200) {
                        table.render({
                            elem: '#currentTableId',
                            data: response.data,
                            id: 'moviesTable',
                            cols: [[
                                {field: 'id', title: 'ID'},
                                {field: 'contentid', title: 'Content'},
                                {field: 'videocode', title: 'Code'},
                                {field: 'title', title: 'Title'},
                                {field: 'duration', title: 'Duration'},
                                {field: 'year', title: 'Release'},
                                {field: 'status', title: 'Status', templet: '#crawlProgress'}
                            ]],
                            limit: response.per_page,
                        });
                        let contentIds = [];
                        $.each(response.data, function (idx, val) { 
                            contentIds.push(val.contentid); 
                        });
                        crawl_info(contentIds);
                    } else {
                        layui.msg(response.msg, {icon:5, time:2000});
                    }
                }
            });
        };
        const crawl_info = (ids) => {
            let contentid = ids.shift();
            if (contentid == null) {
                crawl_pages(tmpPagesList);
                return;
            }
            $.ajax({
                type: "GET",
                url: "{:url('javfilms_get_info')}",
                data: {"contentid": contentid},
                dataType: "json",
                success: function (response) {
                    if (response.code == 200) {
                        update_table(response.id, response.msg);
                    }
                    crawl_info(ids);
                }
            });
        };
        const update_table = (id, msg) => {
            let html = '<i class="layui-icon layui-icon-ok"></i>&nbsp;';
            $('#' + id).html(html + msg);
        };
    });
</script>
</body>
</html>