@charset "utf-8";



/*====================== 初始化 ====================*/
body {
  font-family: '微软雅黑';
  background: #f1f1f1;
  font-size: 12px;
  line-height: 22px;
}

body,
ul,
ol,
li,
p,
span,
i,
strong,
a,
h1,
h2,
h3,
h4,
h5,
h6,
form,
table,
td,
img,
div,
form,
label,
dl,
dt,
dd,
em,
embed {
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

input,
button,
select,
textarea {
  outline: none;
  border: none
}

.width1200 {
  margin: 0 auto;
  width: 960px;
}

.header {
  height: 100px;
  position: relative;
  padding-top: 10px;
}

.header h1 a {
  display: block;
  float: left;
}

.header h1 a img {
  margin-top: 10px;
  display: block;
  width: 167px;
  height: 80px;
}

.header_cet {
  height: 100%;
  float: right;
  margin-right: 120px;
}

.header_submit {
  height: 44px;
  width: 420px;
  border: 1px solid #dcdcdc;
  border-radius: 30px;
  margin: 18px 0 0 0;
  line-height: 44px;
  position: relative;
}

.header_submit_m {
  float: left;
  margin-left: 20px;
  width: 75px;
  position: relative
}

.header_submit_m h3 {
  font-size: 14px;
  color: #333333;
  font-weight: normal;
  background: url(../img/bottom.png) no-repeat right center;
}

.header_submit_m ul {
  background: #f1f1f1;
  text-align: center;
  position: absolute;
  top: 44px;
  width: 100px;
  text-align: center;
  display: none;
  left: -10px;
  z-index: 999999
}

.header_submit_m ul li {
  height: 30px;
  line-height: 30px;
}

.header_submit_m ul li a {
  color: #333;
}

.header_submit_b {
  float: left;
  margin-left: 10px;
}

.header_submit_b input[type="text"] {
  height: 42px;
  line-height: 42px;
  background: #f1f1f1;
  display: block;
  float: left;
  width: 240px;
}

.header_submit_b input[type="submit"] {
  display: block;
  height: 28px;
  width: 28px;
  background: url(../img/submit.png) no-repeat;
  position: absolute;
  right: 30px;
  top: 10px;
  cursor: pointer;
}

.header_list {
  clear: both;
  width: 420px;
  text-align: center;
  margin-top: 10px;
}

.header_list ul {
  display: inline-block;
}

.header_list ul li {
  font-size: 12px;
  float: left;
  border-right: 1px solid #969696;
  height: 12px;
  line-height: 12px;
  margin-right: 10px;
  padding-right: 10px;
}

.header_list ul li:last-child {
  border: none;
}

.header_list ul li a {
  color: #00adef;
  font-size: 14px;
}

.header_right {
  float: right;
  width: 330px;
  margin: 5px 20px 0 0;
}

.header_right_sub {
  width: 100%;
  clear: both;
  overflow: hidden;
  margin-top: 5px;
}

.header_right_sub input[type="text"],
.header_right_sub input[type="password"] {
  display: block;
  width: 215px;
  border: 1px solid #dcdcdc;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  padding-left: 10px;
  float: left;
}

.header_right_sub input[type="button"] {
  display: block;
  float: left;
  width: 90px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background: #00adef;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.header_right_sub2 input[type="button"] {
  background: #ff9522;
}

/* .nav{ height:96px;  background:#343f51;width:1200px; margin-top:10px; line-height:48px;margin-bottom: 10px;display:flex;justify-content: center;} */
.nav {
  height: 96px;
  width: 100%;
  background: #343f51;
  margin-top: 10px;
  line-height: 48px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.nav ul li {
  float: left;
  padding: 0 8px;
  text-align: center;
  font-size: 15px;
  position: relative;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.nav ul li .new {
  position: absolute;
  top: 0px;
  left: 11px;
}

.nav ul li a {
  color: #FFF;
  display: block;
  height: 100%;
  width: 100%;
}

.nav ul li:hover {
  background: #00adef
}

/*.nav ul li.non1{ background:#00adef;}*/
.nav ul li.non2 {
  background: #ff9522;
}

.banner_img {
  width: 960px;
  margin: 0 auto;
  height: 60px;
}

.banner_img a {
  height: 60px;
  display: inline-block;
}

.banner_img img {
  width: 960px;
  height: 60px;
}

.classify {
  height: 130px;
  background: #FFF;
  margin-top: 20px;
}

.classify h3 {
  width: 48px;
  float: left;
  height: 100%;
  background: #00adef;
  font-weight: normal;
  text-align: center;
}

.classify h3 span {
  font-size: 17px;
  color: #FFF;
  display: inline-block;
  width: 17px;
  margin-top: 40px;
}

.classify ul {
  position: relative;
  top: 25px;
  left: 30px;
}

.classify ul li {
  float: left;
  margin-top: 8px;
  transition: all 0.5s;
  margin-left: 2px;
}

.classify ul li a {
  width: 130px;
  height: 32px;
  display: block;
  float: left;
  text-align: center;
  line-height: 32px;
  border-radius: 30px;
  font-size: 14px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.classify ul li.active a {
  background: #00adef;
  color: #FFF;
}

.classify ul li:hover a {
  background: #00adef;
  color: #FFF;
}

.index_list ul li {
  padding: 10px;
  background: #FFF;
  float: left;
  margin: 20px 10px 0 0;
}

.index_list ul li img {
  width: 270px;
  height: 190px;
}

.index_list ul li p {
  font-size: 14px;
  color: #333333;
  height: 25px;
  line-height: 25px;
  margin-top: 2px;
}

.index_list ul li span {
  display: block;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 210px;
}

.index_list ul li a {
  display: block;
  float: right;
  color: #ff9522;
  background: #fff3ea;
  width: 55px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border: 1px solid #f9d2b3;
}

.index_list ul {
  overflow: hidden;
}

.index_list_foot {
  text-align: center;
  margin-top: 40px;
}

.index_list_foot ol {
  display: inline-block
}

.index_list_foot ol li {
  float: left;
  height: 24px;
  line-height: 24px;
  border: 1px solid #e6e6e6;
  padding: 0 10px;
  margin-right: 6px;
  font-size: 13px;
  cursor: pointer;
}

.index_list_foot ol li.active,
.index_list_foot ol li.on {
  background: #ff9522;
  color: #FFF;
}

.index_list_foot ol li.active a {
  color: #FFF;
  display: block;
  height: 100%;
}

.index_list_foot ol li.none {
  border: none;
  cursor: default;
}

.index_list_foot ol li input[type="text"] {
  background: #f1f1f1;
  width: 30px;
}

.index_list_foot ol li.submit {
  background: #ff9522;
}

.index_list_foot ol li.submit input {
  background: #ff9522;
  color: #FFF;
  cursor: pointer
}

.index_list_foot p {
  font-size: 13px;
  color: #333333;
  margin-top: 10px;
}

.footer {
  width: 100%;
  background: #2d3138;
  margin-top: 20px;
  height: 200px;
}

.footer h2 {
  height: 136px;
  margin-top: 10px;
  float: left;
  border-right: 1px solid #575a60;
  padding-right: 30px;
}

.footer h2 a {
  display: block;
  width: 250px;
  height: 120px;
  background: url(../img/logo.png) no-repeat center center;
  margin-top: 30px;
}

.footer_right {
  width: 598px;
  float: left;
  margin-left: 30px;
  text-align: center
}

.footer_right ul {
  margin-top: 20px;
  margin-bottom: 0px;
  overflow: hidden;
}

.footer_right ul li {
  float: left;
  font-size: 13px;
  border-right: 1px solid #969696;
  font-size: 14px;
  line-height: 14px;
  margin-right: 10px;
  padding-right: 10px;
  margin-bottom: 15px
}

.footer_right ul li.active {
  /*font-size:15px; */
  border-right: 1px solid #ff9522;
}

.footer_right ul li.active a {
  color: #ff9522;
}

.footer_right ul li:last-child {
  border: none;
}

.footer_right ul li a {
  color: #FFF;
}

.footer_right p {
  clear: both;
  line-height: 25px;
}

.footer_right p a {
  color: #939497;
}

.footer_right p span {
  color: #ff9522;
}

.fixed_img img {
  width: 120px;
  height: 300px;
  position: fixed;
}

.fixed_banner_left img {
  left: 0;
  top: 0;
}

.fixed_banner_right img {
  right: 0;
  top: 0;
}

.fixed_ads img {
  width: 300px;
  height: 250px;
  position: fixed;
}

.fixed_ads_left img {
  left: 0;
  bottom: 0;
}

.fixed_ads_right img {
  right: 0;
  bottom: 0;
}

.template_title {
  height: 50px;
  line-height: 50px;
}

.template_title ul li {
  float: left;
  font-size: 13px;
  color: #999999;
  margin-right: 10px;
}

.template_title ul li a {
  color: #999999;
}

.template_title ul li:last-child a {
  color: #0088cc;
}

.template_banner {
  padding: 40px;
  background: #FFF;
  overflow: hidden;
}

.template_banner img {
  width: 420px;
  height: 300px;
  float: left
}

.template_banner_txt {
  float: left;
  margin-left: 25px;
  font-size: 14px;
  color: #333333;
}

.template_banner_txt h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.template_banner_txt a {
  height: 40px;
  width: 200px;
  display: block;
  background: #ff9522 url(../img/r1.png) no-repeat 40px center;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  color: #FFF;
  float: left;
  margin: 40px 20px 0 0;
  border-radius: 5px;
}

.template_banner_txt a.a2 {
  background: #00adef url(../img/r2.png) no-repeat 40px center;
}

.template_list h3 {
  height: 60px;
  line-height: 60px;
  font-weight: normal;
  color: #333333;
  font-size: 17px;
}

.template_list ul {
  margin-top: -20px;
}

.template_list p {
  width: 100%;
  text-align: center;
}

.about_nav {
  height: 80px;
}

.about_nav h3 span {
  margin-top: 20px;
}

.about_nav ul li {
  margin: 0;
}

.about_list {
  overflow: hidden;
  display: none
}

.about_list ul li {
  background: #FFF;
  float: left;
  margin: 20px 10px 20px 10px;
}


.about_list_top {
  padding: 10px 10px 0;
  width: 200px;
  height: 180px;
  position: relative;
}

.about_list_top img {
  width: 200px;
  height: 130px;
}

.about_list_top p {
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.about_list_top strong {
  font-weight: normal;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 50px;
  right: 10px;
  height: 24px;
  line-height: 24px;
  font-size: 13px;
  color: #FFF;
  padding: 0 5px;
}

.about_list_bottom {
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #eeeeee;
  font-size: 13px;
  color: #999999;
}

.about_list_bottom em {
  font-style: normal;
  display: block;
  float: left;
  margin-left: 10px;
}

.about_list_bottom p {
  float: right;
  margin-right: 10px;
}

.about_list_bottom p span {
  display: block;
  height: 22px;
  width: 22px;
  background: url(../img/w_false.png) no-repeat;
  float: left;
  margin: 14px 2px 0 0;
}

.about_list_bottom p span.true {
  background: url(../img/w_true.png) no-repeat;
}

.set_nav {
  height: 50px;
  line-height: 50px;
  background: #3b4658;
  font-size: 15px;
  color: #fff;
  text-align: center;
}

.embed {
  padding: 30px 0;
  background: #FFF;
}

.embed_video {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
}

.embed_video h3 {
  font-weight: normal;
  height: 80px;
  line-height: 80px;
  font-size: 17px;
  color: #333;
}

.embed_video ul li {
  float: left;
  margin: 0 20px 20px 0;
}

.embed_video ul li img {
  width: 200px;
  height: 240px;
}

.enter {
  overflow: hidden;
}

.enter_left {
  width: 720px;
  float: left;
  background: #FFF;
  padding-bottom: 30px;
}

.enter_left h3 {
  height: 46px;
  line-height: 46px;
  background: #3b4658;
  padding-left: 30px;
  color: #FFF;
  font-size: 15px;
  margin-bottom: 30px;
}

.enter_left ul li {
  width: 100%;
  overflow: hidden;
  margin-top: 25px;
}

.enter_left ul li label {
  width: 150px;
  display: block;
  float: left;
  height: 48px;
  line-height: 48px;
  text-align: right;
  font-size: 15px;
  color: #333;
}

.enter_left ul li input {
  border: 1px solid #dcdcdc;
  width: 470px;
  padding-left: 20px;
  border-radius: 5px;
  height: 48px;
  line-height: 48px;
  margin-left: 15px;
  font-size: 15px;
  color: #999999;
}

.enter_left ul li p {
  float: left;
  margin-left: 15px;
}

.enter_left ul li p span {
  display: block;
  height: 18px;
  width: 18px;
  background: url(../img/radio_false.png) no-repeat;
  text-indent: 20px;
  line-height: 18px;
  cursor: pointer;
  margin-top: 5px;
}

.enter_left ul li p span.active {
  background: url(../img/radio_true.png) no-repeat;
}

.enter_left ul li p.p2 {
  margin-left: 70px;
}

.enter_left ul li p i {
  font-style: normal;
  display: block;
  background: url(../img/check_false.png) no-repeat left center / 18px 18px;
  text-indent: 22px;
  height: 18px;
  line-height: 18px;
  cursor: pointer;
  margin-top: 5px;
}

.enter_left ul li p i.active {
  background: url(../img/check_true.png) no-repeat left center / 18px 18px;
}

.enter_left ul li input[type="button"] {
  display: block;
  height: 50px;
  line-height: 50px;
  background: #ff9522;
  color: #fff;
  font-size: 17px;
  border: none;
  cursor: pointer;
  margin-left: 165px;
}

.enter_right_bj {
  background: #FFF;
  padding-bottom: 20px;
}

.enter_right {
  width: 460px;
  float: right;
  background: none;
}

.enter_right ul li label {
  width: 80px;
}

.enter_right ul li input {
  width: 300px;
}

.enter_right_password {
  height: 50px;
  line-height: 50px;
  margin-left: 95px;
  width: 322px;
}

.enter_right_password span {
  display: block;
  font-size: 15px;
  color: #333333;
  background: url(../img/check_false.png) no-repeat left center / 18px 18px;
  text-indent: 22px;
  cursor: pointer;
  float: left
}

.enter_right_password span.active {
  background: url(../img/check_true.png) no-repeat left center / 18px 18px;
}

.enter_right_password a {
  display: block;
  float: right;
  color: #333;
}

.enter_right_banner {
  width: 460px;
  height: 180px;
  background: #606060;
  margin-top: 20px;
  color: #fff;
  text-align: center;
  line-height: 180px;
  font-size: 20px;
}

.enter_right_button input {
  display: block;
  height: 50px;
  line-height: 50px;
  background: #ff9522;
  color: #fff;
  font-size: 17px;
  border: none;
  cursor: pointer;
  margin-left: 95px;
  width: 322px;
  cursor: pointer;
  border-radius: 5px;
}

.enter_left ul li span {
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url(../img/ajax_true.png) no-repeat;
}

.enter_left ul li span.true {
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url(../img/ajax_false.png) no-repeat;
}

.about_list2 {
  display: block;
}

.list-nav {
  width: 960px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  font-size: 14px;
}

.list-nav .active {
  color: #0088cc;
}

.white {
  background: #fff;
  padding-bottom: 40px;
}

.whitetitle {
  height: 48px;
  line-height: 48px;
  background: url(../img/listBg_03.jpg) no-repeat center;
  color: #fff;
  text-align: center;
  font-size: 16px;
  margin-bottom: 30px;

}

.people {
  width: 920px;
  margin: 0 auto;
}

.people .left {
  float: left;
  width: 260px;
  height: 380px;
  float: left;
  margin-bottom: 10px;
}

.people .left img {
  width: 100%;
  height: 100%;
}

.right {
  float: left;
  margin-left: 30px;
  font-size: 15px;
}

.right p {
  height: 26px;
  line-height: 26px;
  width: 630px;
  overflow: hidden;
}

.img {
  margin-top: 10px;
}

.ardess h3 {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: normal;
  margin-top: 20px;
}

.ardess h4 {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 5px;
}

.ardess p {
  line-height: 20px;
  color: #00adef
}

.ardess p a {
  color: #00adef
}


.notice {
  background-color: coral;
  text-align: center;
  font-weight: bold;
}


.playdown {

  margin: 0 auto;
  padding: 30px 30px;
  background: #fff3ea;
  border: 1px solid #f9d2b3;
  margin-bottom: 60px;
}

.down a {
  width: 160px;
  height: 36px;
  display: inline-block;

  background: #52bf00;
  text-align: center;
  line-height: 36px;
  color: #fff;
  font-size: 16px;
}


.down h3 {
  margin-bottom: 15px;
}

.playlist a {
  word-wrap: break-word;
}